body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  font-size: 250%;
}

#search {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 800px 300px;
  column-gap: 100px;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 50px;
}

.grid-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 700px 300px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 20px;
  margin-top: 10px
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav #checkout {
  background-color: #f76b8a;
  border: none;
  color: white;
  margin-left: 131px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.topnav #checkout:hover {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.topnav .search-container {
  float: right;
  padding-right: 214px;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

img {
  width: 300pt;
  height: auto;
}

#payinfo {
  border-style: solid;
  padding-left: 130px;
  padding-bottom: 1%;
  margin-bottom: 20px
}

#payinfo h2 {
  margin-top: 0;
  padding-left: 0;
}

.totalprice {
  padding-left: 130px;
  font-size: x-large;
}

#cart {
  font-size: xx-large;
  margin-top: 0;
  margin-left: 130px;
}

.infoFn {
  padding-left: 130px;
}